* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Underdog', cursive;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: #222;
}

.wrapper {
  background-image: linear-gradient(#333, #999, #111);
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid #888;
}

.dragon-img1, .dragon-img2 {
  height: 70%;
  width: auto;
  margin: 3em;
}

.dragon-img1 {
  position: absolute;
  left: 0;
  height: 50%;
  width: auto;
}

.dragon-img2 {
  position: absolute;
  right: 0;
  transform: rotateY(180deg);
}

.dial-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: #555;
  background-image: url("assets/imgs/paper2.jpg");
  border: 2px solid #222;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 2em 15em rgba(0, 0, 0, 0.5);
}

.dial-window h1 {
  width: 90%;
  text-align: center;
  padding: .5em;
  font-weight: 700;
  letter-spacing: .5em;
  text-shadow: 0 0 20px orangered;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  z-index: 0;
}

.menu-nav button {
  transition: color .4s ease, width .4s ease, letter-spacing .6s ease, font-weight .4s ease;
  width: 20%;
}

.menu-nav button:hover {
  width: 30%;
  letter-spacing: 5px;
  font-weight: 700;
}

.fightscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  border: 2px solid orange;
}

.dragon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin: 3em;
  border: 1px solid orange;
  color: white;
}

.dragon h1 {
  margin: .5em;
  font-size: 2em;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid orange;
  width: 50%;
  height: 10%;
  margin: 1em;
}

.hp, .stamina {
  width: 80%;
  height: 40%;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
  margin: 2px;
  position: relative;
  z-index: 5;
}

.hp p, .stamina p {
  position: absolute;
  z-index: 4;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hp-bar {
  width: 100%;
  height: 100%;
  background-color: darkred;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.stamina-bar {
  width: 100%;
  height: 100%;
  background: green;
}

.visage {
  width: 50%;
  height: 50%;
  border: 1px solid red;
  background-size: cover;
}

.win-screen {
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
  margin-top: 1em;
  border: 2px solid red;
}

.btn {
  outline: none;
  padding: 5px;
  margin: .5em;
  font-size: 1.2em;
  color: white;
  background-image: url("assets/imgs/wood.jpg");
  background-position: center;
  border: 2px solid #46361a;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 #333;
  transition: font-weight .3s ease, color .3s ease;
  cursor: pointer;
}

.btn:hover {
  color: orangered;
  font-weight: 700;
}

.nest {
  background-image: url("assets/icons/egg-clutch.png"), url("assets/imgs/paper2.jpg");
  background-repeat: no-repeat;
  background-size: 50%, cover;
}

.navbar {
  position: absolute;
  width: 20%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.navbar-left {
  top: 0;
  left: 0;
}

.navbar-left h1 {
  text-align: center;
}

.navbar-right {
  top: 0;
  right: 0;
}

.breeds {
  display: grid;
  border: 1px solid gray;
  margin: .5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dragon-breed {
  background: rgba(0, 0, 0, 0.3);
  margin: .2em;
  border: 1px solid gray;
  width: 60px;
  height: 60px;
  background-image: url("assets/icons/spiked-dragon-head-empty.png");
  background-size: cover;
  cursor: pointer;
}

.dragon-visage {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.dragon-red {
  background-image: url("assets/icons/spiked-dragon-head-red.png");
}

.dragon-green {
  background-image: url("assets/icons/spiked-dragon-head-green.png");
}

.dragon-blue {
  background-image: url("assets/icons/spiked-dragon-head-blue.png");
}

.dragon-sand {
  background-image: url("assets/icons/dragon-head-sand.png");
}

.see-dragon-stats p {
  font-size: 1.5em;
}

.active {
  border: 1px solid red;
  filter: brightness(1.75);
}

.map-scr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.map-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5em;
  width: 20%;
}

.map-nav button {
  width: 100%;
}

.dinosaur-bones {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: auto;
}

.compass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: auto;
}

.resource-img {
  width: 3em;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.3);
}

.summits, .spinal, .book, .eggs, .pile {
  opacity: .5;
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.map {
  width: 70%;
  height: 90%;
  border: 1px solid black;
  margin: .5em;
  background-image: url("assets/Ethenor1.png");
  background-size: cover;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
